@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary-50: #f5f3fa;
  --color-primary-100: #eae7f3;
  --color-primary-200: #d1cae5;
  --color-primary-300: #a79ad1;
  --color-primary-400: #7b68bc;
  --color-primary-500: #5741a2;
  --color-primary-600: #421284;
  --color-primary-700: #350e69;
  --color-primary-800: #270a4e;
  --color-primary-900: #1a0735;
  --color-primary-950: #0d031a;

  --color-indigo-50: var(--color-primary-50);
  --color-indigo-100: var(--color-primary-100);
  --color-indigo-200: var(--color-primary-200);
  --color-indigo-300: var(--color-primary-300);
  --color-indigo-400: var(--color-primary-400);
  --color-indigo-500: var(--color-primary-500);
  --color-indigo-600: var(--color-primary-600);
  --color-indigo-700: var(--color-primary-700);
  --color-indigo-800: var(--color-primary-800);
  --color-indigo-900: var(--color-primary-900);
  --color-indigo-950: var(--color-primary-950);

  --color-violet-50: var(--color-primary-50);
  --color-violet-100: var(--color-primary-100);
  --color-violet-200: var(--color-primary-200);
  --color-violet-300: var(--color-primary-300);
  --color-violet-400: var(--color-primary-400);
  --color-violet-500: var(--color-primary-500);
  --color-violet-600: var(--color-primary-600);
  --color-violet-700: var(--color-primary-700);
  --color-violet-800: var(--color-primary-800);
  --color-violet-900: var(--color-primary-900);
  --color-violet-950: var(--color-primary-950);
}

@layer base {
  body {
    @apply font-sans antialiased bg-slate-50 text-slate-900;
  }
}